<% include partials/header %>


<div class="jumbotron" id="title">
    <div class="container">
        <h1>Set up Study Session</h1>
    </div>
</div>

<div class="container">
    <div class="shape2">
        <div class="currentTitle">
           
                    <h2>Set Up</h2>
                    <a href="/quiz/existingQuiz" class="btn btn-primary" id="update">Update</a>
                    <a href="/quiz" class="btn btn-primary" id="newQuiz">New</a>
                    <a href="/quiz/chooseQuiz" class="btn btn-primary" id="startQuiz">Start Quiz</a>
   

        </div>
    </div>
</div>

<% include partials/myfooter %>
<!-- <script src="index2.js"></script> -->